{% extends 'base.html.twig' %}

{% block title %}Email envoyé!
{% endblock %}

{% block body %}
	<div class="container-fluid d-flex flex-wrap justify-content-center mt-3">
		<a class="nav-link" href="{{ path('app_adminStructuresIndex')}}">
			<i class="fas fa-arrow-left fa-2x" id="arrow_iconMail"></i>
		</a>
		<h5 class="card-title m-3">Un email vient de vous être envoyé ainsi qu'au Partenaire correspondant suite à la création ou modification de ses permissions.</h5>
	</div>
{% endblock %}
