{% extends 'base.html.twig' %}
{% block title %}Les Partenaires
{% endblock %}
{% block body %}
	<section class="container my-3">
		<div class="row">
			<div class="col">
				<h3>Enregistrer un Partenaire</h3>
				<fieldset>
					{{ form_start(form) }}
					{{form_row(form.user)}}
					{{form_widget(form)}}
					<button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
				</div>
				{{ form_end(form) }}
			</fieldset>
		</div>
	</div>
{% endblock %}
