body {
  background-color: #3d3d3d;
  color: #eee3f1;
}
/*NAVBAR*/
.navbar-toggler-icon {
  width: 25px;
  height: 25px;
  box-shadow: 3px 3px 3px rgb(145, 142, 142);
}
#navbar_font {
  font-size: large;
  font-family: "Exo 2", sans-serif;
  padding: 0px;
}
/*CARTE DETAILS*/
#card_presentationPartners {
  font-size: 15px;
  background-color: #eee3f1;
  border-color: #eee3f1;
  border-radius: 5px;
  color: #525053;
}
#card_presentationStructures {
  font-size: 15px;
  background-color: #eee3f1;
  border-color: #eee3f1;
  border-radius: 5px;
  color: #525053;
}
#card {
  background-color: #f8f6f8;
}
.card-text {
  font-family: "Exo 2", sans-serif;
  font-size: 15px;
  color: #525053;
}
#affiliate {
  font-family: "Roboto", cursive;
  font-style: italic;
  color: #319da0;
}
.card-title {
  font-family: "Exo 2", sans-serif;
  font-size: 15px;
}
/*ICONES LOGOS*/
#at_icon {
  color: #ffa500;
}
#comment_icon {
  color: #ffa500;
}
#mobile_icon {
  color: #ffa500;
}
#building_icon {
  color: #ffa500;
}
.logo {
  width: 210px;
  height: 80px;
  margin-top: 35px;
}
#logo {
  width: 115px;
  height: 40px;
  margin-top: 5px;
}
/*TITRES*/
#title_category {
  font-family: "Roboto", cursive;
  font-style: italic;
  font-weight: 600;
  color: #319da0;
  font-size: 20px;
}
/*BOUTONS*/
#btn_login {
  background-color: #319da0;
  color: #fbf9fc;
  border: #319da0;
}
#btn_plus {
  color: #319da0;
}
#btn_register {
  background-color: #319da0;
  border: #319da0;
}
.line_table {
  background-color: #319da0;
}
.btn_table {
  color: #fafdfd;
  border-radius: 10px;
  font-size: 14px;
}
#update_icon {
  color: #319da0;
}
#delete_icon {
  color: #f8f3f3;
}
#eye_icon {
  color: #319da0;
}
#confirm_icon {
  color: #319da0;
}
#delete_icon {
  color: #f80828;
}
#delete_iconPerm {
  color: #f8f5f5;
}
#btn_perm {
  color: #f80828;
}
#add_icon {
  color: #525053;
}
#icon_exit {
  color: #319da0;
}
#warning {
  background-color: #f8f6f8;
  border: #f8f6f8;
}
#arrow_iconMail {
  color: #319da0;
}
#modalButton {
  background-color: #319da0;
  border: #319da0;
}
/*TABLEAU*/
#container_table {
  font-family: "Roboto", sans-serif;
  background-color: #f8f6f8;
  color: #319da0;
  margin: 5px;
}
.table {
  color: #525053;
  background-color: #f8f6f8;
}
#myTable {
  background-color: #f8f6f8;
  font-size: 14px;
}
/*UPDATE*/
#update_font {
  font-size: 15px;
  height: auto;
}
#section_update {
  color: #fbf9fc;
}
/*REGISTER*/
.register_div {
  width: 650px;
}
/*LINKS/LOGIN*/
#connect_mail {
  font-family: "Exo 2", sans-serif;
}
#deconnect_link {
  color: #319da0;
  font-weight: 800;
  font-family: "Roboto", cursive;
  font-style: italic;
}
#deconnect_link_mail {
  color: rgb(145, 142, 142);
}
#div_login {
  font-family: "Roboto", cursive;
}
#navLink {
  color: #319da0;
}
/*MODAL*/
.modal-title {
  color: #525053;
}
.modal-body {
  color: #525053;
}
#initPasswordLink {
  color: #319da0;
  font-size: 13px;
  text-decoration: underline;
  font-style: italic;
}
/*FORM*/
.form {
  color: green;
}
/*FOOTER*/
#footer {
  margin-top: 950px;
}
