#card_presentation {
  width: auto;
  height: 255px;
  font-size: x-large;
  background-color: #eee3f1;
  border-color: #eee3f1;
}

#card_presentationPartners {
  width: auto;
  height: auto;
  font-size: x-large;
  background-color: #eee3f1;
  border-color: #eee3f1;
}

#card_presentationStructures {
  width: auto;
  height: auto;
  font-size: x-large;
  background-color: #eee3f1;
  border-color: #eee3f1;
}

#list_partner {
  background-color: #eee3f1;
}

#div_logo {
  margin-top: 255px;
}

.image_structure {
  width: 225px;
  height: 225px;
}

#actif {
  background-color: #cb6ce6;
  border: #cb6ce6;
  font-size: 30px;
}

#inactif {
  background-color: #cb6ce6;
  border: #cb6ce6;
  font-size: 30px;
}

@media (min-width: 250px) and (max-width: 959px) {
  #div_logo {
    width: 950px;
    height: 950px;
  }

  #div_logo_register {
    width: 950px;
    height: 950px;
  }

  #inputEmail_logo {
    color: #cb6ce6;
    margin-top: 125px;
    font-size: x-large;
    font-weight: bold;
  }
  #inputPassword_logo {
    color: #cb6ce6;
    margin-top: 25px;
    font-size: x-large;
    font-weight: bold;
  }
  #inputEmail {
    height: 55px;
    font-size: x-large;
  }
  #inputPassword {
    height: 55px;
    font-size: x-large;
  }

  #update_font {
    font-size: x-large;
    height: auto;
  }
}

#btn_login {
  background-color: #cb6ce6;
}
#btn_plus {
  color: #cb6ce6;
}
#navbar_font {
  font-size: x-large;
}

#title_category {
  font-family: "Satisfy", cursive;
  color: #cb6ce6;
  font-size: 46px;
}

#navbar-font {
  font-family: "Exo 2", sans-serif;
}
#connect_mail {
  font-family: "Exo 2", sans-serif;
}

#deconnect_link {
  color: #cb6ce6;
  font-weight: 800;
  font-family: "Satisfy", cursive;
}

#btn_register {
  background-color: #cb6ce6;
}

#update_icon {
  color: #cb6ce6;
}

#delete_icon {
  color: #cb6ce6;
}

#eye_icon {
  color: #cb6ce6;
}

#button_perm {
  background-color: #cb6ce6;
}

#container_table {
  font-family: "Roboto", sans-serif;
}
