{% extends 'base.html.twig' %}
{% block title %}Fitness-Club
{% endblock %}

{% block body %}

	<div class="container ms-4">
		<h3 class="justify-content-center mt-5" id="title_category">Bienvenue sur votre application Fitness Club</h3>
	</div>
{% endblock %}
