{% extends 'base.html.twig' %}
{% block title %}Fitness-Club
{% endblock %}

{% block body %}
	{# PAGE ACCUEIL TOUS LES UTILISATEURS #}

	{# MESSAGE FLASH VERIFIVATION EMAIL REUSSIE #}
		<div class="column large-12 tab-12"> {% for message in app.flashes('success') %}
			<div class="flash-notice">
				{{ message }}
			</div>
		{% endfor %}
	</div>

	{# PEUT SERVIR DE TABLEAU DE BORD POUR PASSER DES INFORMATIONS TECHNIQUES SUR L'APPLICATION #}
	<div class="container ms-2">
		<h3 class="justify-content-center mt-5 m-2" id="title_category">Bienvenue sur votre application Fitness Club</h3>
		<h5 class="justify-content-center mt-5 m-2">Dernière information du 07/10/2022: Une nouvelle mise à jour sera bientôt disponible...</h5>
	</div>
{% endblock %}
