{% extends 'base.html.twig' %}

{% block title %}Email envoyé!
{% endblock %}

{% block body %}
	<div class="container-fluid d-flex flex-wrap justify-content-center mt-3">
		<div class="container">
			<h5 class="justify-content-center mt-3">L'entité a bien été crée.</h5>
		</a>
	</div>
{% endblock %}
