{% extends 'base.html.twig' %}

{% block title %}Email envoyé!
{% endblock %}

{% block body %}
	<div class="container-fluid d-flex flex-wrap justify-content-center mt-3">
		<div class="container">
			<h5 class="justify-content-center mt-3">Votre compte FITNESS Club a bien été initialisé.</h5>
			<h5 class="justify-content-center mt-3">Un email vient de vous être envoyé afin d'initialiser votre mot de passe</h5>
		</a>
	</div>
{% endblock %}
