<p>Félicitations, vous faites désormais parti de nos clients!</p><br>
<p>Vous pouvez activer votre compte FITNESS Club et créer votre mot de passe par le lien suivant</p>
<a href="{{ absolute_url(path('app_activation', {'token': token})) }}">Activer mon compte FITNESS Club et créer mon mot de passe</a>
<p>Nous vous remercions de votre confiance et vous disons à trés bientôt!</p>
<p>L'équipe Fitness Club</p>
