<h3>Félicitations, vous faites désormais parti de nos clients!</h3><br>
<p>Les identitfiants nécessaires à votre connexion vous seront communiqués très prochainement via télephone par votre administrateur.
</p>
<p>Vous pouvez accéder à l'application Fitness Club par ce lien
	<a href="{{ absolute_url(path('app_login')) }}">{{ absolute_url(path('app_login')) }}</a>
</p>
<p>Nous vous remercions de votre confiance et vous disons à trés bientôt!</p>
<p>L'équipe Fitness Club</p>
