{% extends 'base.html.twig' %}

{% block title %}Réinitialisation ou mot de passe oublié
{% endblock %}

{% block body %}
	{% for message in app.flashes('message') %}
		<div class="alert alert-success" role="alert">
			{{ message }}
		</div>
	{% endfor %}
	<div class="container-fluid d-flex flex-wrap justify-content-center mt-2">
		<div class="col-8">
			<h3 class="justify-content-center mt-4" id="title_category">Réinitialisation ou mot de passe oublié</h3>
			{{ form_start(emailForm) }}
			{{ form_row(emailForm) }}
			<button type="submit" class="btn btn" id="btn_login">Envoyer</button>
			{{ form_end(emailForm) }}
		</div>
	</div>
{% endblock %}
