{% extends 'base.html.twig' %}
{% block title %}Les Partenaires
{% endblock %}
{% block body %}
	<section class="container m-auto" id="update_font">
		<div class="row">
			<div class="col">
				<h3 class="justify-content-center mt-5" id="title_category">
					Modifier le Partenaire{{ partner.name }}
				</h3>
				<fieldset>
					{{ form_start(form) }}
					{{form_widget(form)}}
				</fieldset>
				<button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
				{{ form_end(form)}}
			</div>
		</div>
	{% endblock %}
