{% extends 'base.html.twig' %}
{% block title %}Les Structures
{% endblock %}
{% block body %}
	<section class="container my-3">


		<h3 class="justify-content-center mt-5" id="title_category">
			Modifier la Structure
			<p>{{ structure.storeName }}</p>
		</h3>
		<fieldset>
			{{ form_start(form) }}
			{{form_widget(form)}}
		</fieldset>
		<button type="submit" class="btn btn-primary btn-lg my-3">Enregistrer</button>
	</div>
	{{ form_end(form) }}

</div></ssection>{% endblock %}
