{% extends 'base.html.twig' %}
{% block title %}Les Permissions
{% endblock %}
{% block body %}
	<div class="container md-2">
		<h3 class="justify-content-center mt-5" id="title_category">Ajouter une permission à un Partenaire
			{% if is_granted('ROLE_ADMIN')  %}
				<a href="{{path('app_registerPermission')}}">
					<i class="fas fa-plus m-3" id="btn_plus"></i>
				</a>
			{% endif %}
		</h3>
	</div>
	<div class="text" id="container_table">
		<table class="table table-striped table-hover table-bordered " id="myTable">
			<thead>
				<tr>
					<th scope="col">n° Partenaire</th>
					<th scope="col">Permission</th>
					<th scope="col">Active</th>
					<th scope="col">Modifier</th>
				</tr>
			</thead>
			<tbody id="myTable">
				{% for permission in permissions %}
					<tr>
						<th scope="row">{{ permission.partners.id }}</th>

						<td>{{ permission.perms }}</td>
						<td>
							{% if permission.active == 1 %}
								<p>1</p>
							{% else %}
								<p>0</p>
							{% endif %}
						</td>
						<td>
							<a href="{{path('app_updatePermissions', {id: permission.id})}}">
								<i class="fas fa-edit m-3" id="update_icon"></i>
							</a>
						</td>
					{% endfor %}
				</tr>
			</tbody>
		</tbody>

	</table>
</div>
<script>

	$(document).ready(function () {
$('#myTable').DataTable();
});
</script>{% endblock %}
